%h1 Listing reports

%table.data-table
  %thead
    %tr
      %th Student
      %th Title
      %th Ratio
      %th Quality
      %th Time
      %th Language

  %tbody
    - @reports.each do |report|
      %tr
        %td= report.student.try(:name)
        %td= report.homework.try(:title)
        %td= report.ratio
        %td= report.quality
        %td= report.time
        %td= report.homework.try(:language)

%br

= link_to 'New Report', new_report_path
