<h1>Listing results</h1>
<%= link_to "Check", :action => :new %>
<table>
  <tr>
    <th>Name</th>
    <th>Task</th>
    <th>Points</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @results.each do |result| %>
  <tr>
    <td><%= result.name %></td>
    <td><%= result.task %></td>
    <td><%= result.points %></td>
    <td><%= link_to 'Show', result %></td>
    <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

