<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @result.name %>
</p>

<p>
  <b>Task:</b>
  <%= @result.task %>
</p>

<p>
  <b>Points:</b>
  <%= @result.points %>
</p>


<%= link_to 'Back', results_path %>
